* {
  background-color: #1b1b1b;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
}
body {
  min-width: 100vw;
}
.navigation {
  height: 12vh;
  width: 100vw;
  background-color: #f7f7f7;
  border: solid #1b1b1b 0.5em;

  position: relative;
  position: fixed;
}
#my-project {
  position: fixed;
  background-color: #f7f7f7;
  height: 7vh;

  width: 15vw;
  top: 2.5%;
  left: 1.5%;
  font-size: 2rem;

  font-weight: 700;
  text-align: center;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: #1b1b1b solid 0.25em;
  box-shadow: var(--shadowBeforeHover);
  transition: var(--shadow-transition);
}
#my-project:hover {
  box-shadow: var(--shadowHover);
}
#my-project::after {
  content: ".";
  animation: blinking-dot 1.5s infinite;
}
@keyframes blinking-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fa-facebook-square {
  color: #f7f7f7;
  font-size: 4em;
  text-align: center;
}
.fa-instagram-square {
  color: #f7f7f7;
  font-size: 4em;
}
.fa-github-square {
  color: #f7f7f7;
  font-size: 4em;
}

.icons {
  position: fixed;
  top: 2%;
  right: 3%;
  width: fit-content;
  border: 7px solid #1b1b1b;
  margin-left: 1px;
  background-color: #1b1b1b;
  box-shadow: var(--shadowBeforeHover);
  transition: var(--shadow-transition);
}
.icons:hover {
  box-shadow: var(--shadowHover);
}
:root {
  --shadowBeforeHover: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  --shadowHover: 18px 19px 33px 5px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 18px 19px 33px 5px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 18px 19px 33px 5px rgba(0, 0, 0, 0.81);
  --shadow-transition: box-shadow 1s ease-in-out;
}
