h1 {
  color: #3366ff;
}
h3 {
  color: #3366ff;
}
h2 {
  color: #3366ff;
}
div {
  color: #3b2f3d;
}
body {
  background-color: #ccffff;
  font-style: normal;
  font-weight: normal;
  font-size: large;
  font-family: Cambria;
}
