h1 {
  color: #3366ff;
}
h3 {
  color: #3366ff;
}
h2 {
  color: #3366ff;
}
div {
  color: #3b2f3d;
  border: 3px solid black;
  border-radius: 1ex;
  border-style: dotted;
  text-align: center;
}
body {
  background-color: #ccffff;
  font-style: normal;
  font-weight: normal;
  font-size: large;
  font-family: Cambria;
}
#g {
  color: green;
}
.r {
  color: red;
}
#bottomLink {
  color: #959ca6;
}
