* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;

  color: rgb(255, 243, 243);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: left;

  background-attachment: fixed;
}
.big-image {
  background-image: url("/test/img/bigImage.jpg");
  background-position-x: center;
  background-position-y: center;
}
.small-image {
  background-image: url("/test/img/smallImage2.png");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
.medium-image {
  background-image: url("/test/img/mediumImage.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/test/img/mediumImage.jpg") center/cover no-repeat;
  background-attachment: fixed;
  color: #ff0d00;
}
img {
  border: 10px;
  border-style: solid;
  float: left;
  height: 60vh;
}
.header {
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  text-indent: 20px;
  font-size: 40px;

  padding-top: 200px;
  width: 100px;
  height: 100px;
}
.content {
  text-align: left;
  color: rgb(225, 235, 245);
  height: 100vh;
  width: 70vw;
}
#midImage {
}
#second {
  display: inline-block;
}
#sec {
  text-align: left;
}
