* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;

  color: rgb(236, 217, 217);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  font-size: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-attachment: fixed;
}
.big-image {
  background-image: url("/test/img/bigImage.jpg");
  background-position-x: center;
  background-position-y: center;
}
.small-image {
  background-image: url("/test/img/smallImage2.png");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
.medium-image {
  background-image: url("/test/img/mediumImage.jpg");
  background-position-x: center;
  background-position-y: center;
  color: #ff0d00;
  background-size: cover;
}
