body {
  background-color: #aee1e1;
  font-size: 150%;
  font-family: Cambria;
}
p {
  color: #fcd1d1;
  font-family: Cambria;
}
h1 {
  color: #ffa4a4;
}
h2 {
  color: #855a5c;
}
h3 {
  color: #ece2e1;
}
